@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5vh;
    padding-bottom: 5vh;
    z-index: 1;
    position: relative;
    min-height: 100vh;

}

.title {
    color: var(--color-primary);
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(
    180deg, var(--color-2) 50%,
      var(--color-3) 50%, var(--color-3) 100%
    );
    background-clip: text;
    margin-left: 10%;
    margin-right: 10%;
}

.projects {
    margin-top: 37px;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10vw;
    width: 100%;
}

.carousel {
  display: block;
  height: 60vh;
}

.btnContainer {
    display: flex;
    justify-content: flex-start;
}

.toTheTopBtn {
  font-size: 30px;
  text-decoration: none;
  color: var(--color-text);
  background-color:  #d37f34;
  border: solid 2px var(--color-text);
  text-shadow: 1px 1px 2px black;
  border-radius: 20px;
  letter-spacing: 1.75px;
  padding: 15px 15px;
  transition: 0.5s;
  font-weight: 500;
  letter-spacing: 4px;
  box-shadow: 0px 0px 4px 1px black inset;
        margin-left: 10%;
    margin-right: 10%;
  }

  .toTheTopBtn:hover {
    box-shadow: var(--color-text) 0px 0px 12px, 0px 0px 4px 1px black inset;
  }

  @media screen and (max-width: 830px) {
    .container {
        align-items: center;
    }

    .btnContainer {
      margin-top: 10vh;
    }

    .toTheTopBtn {
      margin-left: 0;
      margin-right: 0;

    }
    .title {
        font-size: 15vw;
        margin-left:0;
        margin-right: 0;
      }

    .projects {
      display: flex;
    }

    .carousel {
      display: none;
    }
  }