@import "../../vars.css";

.container {
  color: var(--color-text);
  width: 40vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.title {
  color: var(--color-primary);
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  /* margin-top: 38px; */
  color: transparent;
  background: linear-gradient(
  180deg, var(--color-2) 50%,
    var(--color-3) 50%, var(--color-3) 100%
  );
  background-clip: text;
}

.skillsContainer {
  min-height: calc(100vh - 136px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.skillImageContainer img {
  width: 65px;
}

.skill p {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;

}

.btnContainer {
  display: flex;
  padding-bottom: 38px;
}

.projectsBtn {
  display: none;
  font-size: 30px;
  text-decoration: none;
  color: var(--color-text);
  background-color: var(--color-4);
  border: solid 3px var(--color-text);
  border-radius: 20px;
  letter-spacing: 1.75px;
  padding: 15px 15px;
  transition: 0.5s;
  font-weight: 500;
  letter-spacing: 4px;
}

.projectsBtn:hover {
  box-shadow: var(--color-text) 0px 0px 12px;
}

@media screen and (max-width: 830px) {
  .container {
    width: 80vw;
    align-items: center;
  }

  .projectsBtn {
    display: block;
  }

  .skillsContainer {
    min-height: calc(100vh - 200px);
  }

  .skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
  }
  
  .skillImageContainer img {
    width: 50px;
  }
  .title {
    font-size: 15vw;
  }
}
