@import "../../vars.css";

.container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    z-index: 1;
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.title {
  color: var(--color-primary);
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(
  180deg, var(--color-2) 50%,
    var(--color-3) 50%, var(--color-3) 100%
  );
  background-clip: text;
}

p {
    color: var(--color-text);
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

.btnContainer {
    display: flex;
}

.projectsBtn {
  font-size: 30px;
  text-decoration: none;
  color: var(--color-text);
  background-color:  #d37f34;
  border: solid 2px var(--color-text);
  text-shadow: 1px 1px 2px black;
  border-radius: 20px;
  letter-spacing: 1.75px;
  padding: 15px 15px;
  transition: 0.5s;
  font-weight: 500;
  letter-spacing: 4px;
  box-shadow: 0px 0px 4px 1px black inset;
  }

  .projectsBtn:hover {
    box-shadow: var(--color-text) 0px 0px 12px, 0px 0px 4px 1px black inset;
  }

  .skillsBtn {
    display: none;
    font-size: 30px;
    text-decoration: none;
    color: var(--color-text);
    background-color:  #d37f34;
    border: solid 2px var(--color-text);
    text-shadow: 1px 1px 2px black;
    border-radius: 20px;
    letter-spacing: 1.75px;
    padding: 15px 15px;
    transition: 0.5s;
    font-weight: 500;
    letter-spacing: 4px;
    box-shadow: 0px 0px 4px 1px black inset;
  }
  .skillsBtn:hover {
    box-shadow: var(--color-text) 0px 0px 12px, 0px 0px 4px 1px black inset;
  }

  .scrollable {
    max-height: 60vh;
    overflow-y: auto; 
    }

@media screen and (max-width: 830px) {
    .container {
        width: 80vw;
        align-items: center;
    }

    .projectsBtn {
        display: none;
    }

    .skillsBtn {
        display: block;
    }

    .p {
        font-size: 19px;
    }

    .title {
      font-size: 15vw;
    }
}