:root {
    /* Colours */
    --color-text: #ECD6C3;
    --color-primary: #7FB069;
    --color-secondary: #d37f34;
    --color-dark: #963c31;
    --color-bg: #0C0C0C;

    --color-1:#afd7da;
    --color-2: #89c9cf;
    --color-3: #4FA3AB;
    --color-4: #1D313C;

    /* Fonts */
    --font-roboto: "Roboto";
}