:root {
    /* Colours */
    --color-text: #ECD6C3;
    --color-primary: #7FB069;
    --color-secondary: #C08552;
    --color-dark: #8E4A49;
    --color-bg: #0C0C0C;

    --color-1:#afd7da;
    --color-2: #89c9cf;
    --color-3: #4FA3AB;
    --color-4: #1D313C;

    /* Fonts */
    --font-roboto: "Roboto";
}

/* :root {
    --color-text: #F4FAFF;
    --color-primary: #7FB069;
    --color-secondary: #C08552;
    --color-dark: #8E4A49;
    --color-bg: #0C0C0C;

    --font-roboto: "Roboto";
} */

/* Color Palette idea with these hex codes: 
#FFEBD2 
#FFA364 
#FC7643 
#AF4F41 
#273248 #dopely #colorpalette */